 :root{
    /* color */
    --main-white-color: #fff;
    --main-brown-color: #3e2612;
    --brown-color: #704518;
    --main-orange-color: #ffbc03;
    --main-yello-color: #ffda00;
    --main-yello-color2: #fcd364;
    --main-blue-color: #83c2ef;
    --main-green-color: #74bd4a;
    --carrot-color : #ec5d3f;
    --blue-color: #0d4daf;
    --font-black:#222;
    /* footer-color */
    --footer-color : #353535;
    --footer-font-color: #bdbdbd;
    /* size */
    --container-size: 1282px
 }


.hide-text {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
}

#hbaf-header{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    /* height: 290px; */
    height: 65px;
    transition: 1s;
    background-color: var(--main-yello-color2);
    overflow: hidden;
}

.header-logo{
    width: 90px;
    height: 40px;
    background-image: url(../HBAFimg/logo_01.png);
    background-size: cover;
    position: absolute;
    left: 25px;
}

.header-wrapper{
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    transition: 1s;
    border-bottom: 3px solid var(--main-orange-color);
    padding-bottom: 0px;
}

.header-active{
    height: 260px;
}


.menu-wrapper{
    display: flex;
    gap: 45px;
    height: 45px;
    position: relative;
}

.menu{
    position: relative;
    width: 150px;
}

.menu a {
    color: var(--main-brown-color);
    font-size: 20px;
    font-weight: 800;
}

.under-menu li>a {
    font-size: 13px;
    color: var(--brown-color);
}

.under-menu li:nth-child(1){
    padding-top: 40px;
}

.under-menu li{
    margin-bottom: 5px;
    padding-top: 14px;
}

.alert-and-navershoping{
    font-size: 15px;
    display: flex;
    gap: 45px;
    position: absolute;
    right: 25px;
}

.alert-and-navershoping a{
    color: var(--main-white-color);
}

.alert-button{
    width: 100%;
    background-color: var(--main-white-color);
    opacity: 50%;

}

.mobile-hmaburger{
    display: none;
}

#video-place {
    position: relative;
}

#video-place > video{
    width: 100vw;
    display: block;
}

.header-letter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-white-color);
    font-size: 70px;
    font-weight: bold;
    display: block;
}

.navi-honey{
    width: 220px;
    position: absolute;
    top: 90px;
    left: 10%;
}

.navi-honeybee{
    position: absolute;
    right: 22%;
    width: 130px;
}

#explane-hbaf{
    width: 100vw;
}

.over-flow-hiden{
    background-color: var(--main-orange-color);
    display: flex;
    justify-content: center;
    padding: 162px 0px;
    padding-left: 250px;
    overflow: hidden;
}

.explane-honeybee{
    display: block;
    position: relative;
    width: 700px;
}



.explane-honeybee-lastimg {
    position: absolute;
    rotate: 6deg;
    right: 0;
    top: 50%;
    transform: translate(-22%, -74%);
    z-index: 1;
}

.explane-honeybee-wrapper{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-80%, 47%);
    z-index: 1;
}

.explane-box{
    background-color: var(--main-white-color);
    border-radius: 10px;
    border: 3px solid var(--main-brown-color);
    rotate: -4deg;
    box-shadow: 10px 10px 10px 0px rgb(0 0 0/25%);
    position: relative;
}

.explane-text-wrapper{
    padding: 50px;
    max-width: 840px;
}

.explane-logo-letter-wrapper{
    display: flex;
    align-items: baseline;
    gap: 40px;
    justify-content: center;
}

.explane-logo-letter-wrapper img{
    width: 171px;
}

.explane-logo-letter-wrapper h3{
    color: var(--main-brown-color);
    font-size: 20px;
    position: relative;
}

.explane-logo-letter-wrapper h3::after{
    display: block;
    content: '';
    width: 100%;
    height: 6px;
    background-color: var(--main-yello-color2);
    position: absolute;
    bottom: 0;
    opacity: 50%;
}

.explane-letter-wrapper{
    padding : 24px;
}

.explane-letter-wrapper > p{
    display: block;
    font-size: 20px;
    color: var(--main-brown-color);
    margin-top: 20px;
    margin-left: 20px;
    letter-spacing: -2px;
}

.explane-letter-wrapper > p::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--main-brown-color);
    margin-top: 12px;
    transform: translateX(-10%);
}

.more-view{
    width: 100px;
    height: 20px;
    background-color: var(--main-brown-color);
    border-radius: 33px;
    padding: 10px 10px;
}

.explane-text-wrapper .more-view{
    margin: 0 auto;
}

.more-view > a {
    color: var(--main-yello-color);
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.about-hbaf-fly-bee{
    position: relative;
}

.honey-bee-wrapper{
    top: 0;
    right: 0;
    position: absolute;
    transform: translate(60%, -50%);
}

.fly-honeybee{
    display: flex;
}

.fly-honeybee-wings{
    transform: translate(-40% , 20%);
    flex-basis: 30%;
}

.fly-honeybee-body{
    flex-basis: 70%;
}

.small-honeybee{
    width: 370px;
    height: 390px;
    rotate: 15deg;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(63% , 27%)
}

#original-almond {
    padding-top: 64px;
    margin-right: 320px;
}
#original-almond > h2{
    font-size: 80px;
    font-weight: bold;
    color: var(--main-yello-color2);
    width: var(--container-size);
    margin: 0 auto;
}

.original-almond-linebackground{
    background-color: var(--main-yello-color2);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
}

.original-almond-linebackground > p{
    margin: 0 auto;
    width: var(--container-size);
    padding-top: 30px;
    font-size: 20px;
    line-height: 168%;
    color: var(--main-brown-color);
}


.honeybutter-almond-wrapper {
    display: flex;
    align-items: center;
    width: var(--container-size);
    margin: 0 auto;
    position: relative;
}

.honeybutter-almond-wrapper > figure{
    padding-top: 30px;
    width: 360px;
}

.honey-butter-explane-area{
    padding-top: 45px;
}

.line-text-wrapper{
    flex-grow: 1;
    position: absolute;
    left: 0;
    transform: translateX(65%);
}

.line{
    height: 2px;
    background-color: #3e2612;
    position: relative;
    margin-right: 10px;
}

.simple{
    width: 40%;
}

.flavors{
    width: 60%;
}

.healthy{
    width:100%;
}

.line::after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-brown-color);
    position: absolute;
    right: 0;
    transform: translate(0%, -50%);
}

.keyword{
    font-size: 30px;
    color: var(--main-brown-color);
    font-weight: bold;
}

.honeybutter-almond-explane{
    font-size: 20px;
    color: var(--main-brown-colorhealthy);
    padding-top: 16px;
    padding-left: 10%;
}

.line-text{
    display: flex;
    align-items: center;
}

.original-fly-bee{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25% , -50%);
}

.ori-and-moreview-wrapper{
    padding-top: 64px;
    padding-left: 10%;
}

.original-text{
    color: var(--main-orange-color);
    opacity: 40%;
    font-size: 120px;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-5%, -10%);
}

#recommend-area{
    max-width: var(--container-size);
    padding-top: 64px;
    margin: 0 auto;
}

.injermi-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
}

.injermi-wrapper > h3{
    font-size: 50px;
    color: var(--main-brown-color);
    font-weight: bold;
    display: inline;
}

.injermi-wrapper figure {
    overflow: hidden;
    width: 180px;
    height: 150px;
}

.recommend-product{
    background-color: var(--main-yello-color2);
    width: 210px;
    height: 56px;
    border-radius: 50px;
    margin: 0 auto;
    position: relative;
}

.recommend-product > p{
    text-align: center;
    align-items: center;
    color: var(--main-brown-color);
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: -10%;
    transform: translateY(50%);
    width: 100%;
}

.recommend-container-wrppaer{
    display: flex;
    flex-wrap: wrap;
}

.recommend-container{
    display: flex;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
    align-items: center;
    box-shadow: -5px 6px 10px 5px rgba(0, 0, 0 ,25%);
}


.new-production{
    background-color: var(--main-blue-color);
}

.recommend-container > figure{
    flex-basis: 40%;
    width: 100%;
    overflow: hidden;
}

.recommend-text-area{
    color: var(--main-white-color);
    width: 360px;
    padding: 20px;
    padding-right: 0px;
    flex-basis: 60%;
}
.hashtag{
    font-size: 22px;
    line-height: 150%;
}

.recommend-line-wrapper{
    display: flex;
    flex-wrap: nowrap;
    gap: 22px;
    padding-top: 22px;
}
.recommend-name{
    line-height: 115%;
    margin-top: 32px;
    font-size: 40px;
}

.goto-recommend{
    margin-top: 32px;
    font-size: 20px;
    color: var(--main-brown-color);
    font-weight: 800;
}

.adalt-production{
    background-color: var(--main-orange-color);
}

.gift-production{
    background-color: var(--main-yello-color2);
}

.kids-production{
    background-color: var(--main-green-color);
}

#banner-container{
    padding-top: 64px;
    margin-top: 0 auto;
    margin: 0 auto;
}

.banner-area{
    background-color: var(--main-yello-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
}

.carrot-cake-almond{
    margin-right: 40px;
    width: 225px;
    display: none;
}

.carrot-cake-bottom{
    margin-right: 40px;
    width: 225px;
}

.banner-left-text{
    font-size: 35px;
    color: var(--carrot-color);
    font-weight: 800;
}
.banner-area p{
    padding-top: 30px;
}

.banner-left-text p:nth-child(2){
    color: var(--main-white-color);
}

.text-rigtt{
    padding-left: 40px;
}

.text-medium{
    padding-left: 20px;
    padding-right: 20px;
}

.text-left{
    padding-right: 40px;
}

.banner-right-text{
    color: var(--main-white-color);
    font-size: 35px;
    font-weight: 800;
}

.banner-right-text p:nth-child(2){
    color: var(--carrot-color);
}

#slide-banner-area{
    padding: 64px 0px;
}

.event-area-wrapper{
    margin: 0 auto;
    width: var(--container-size);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-area-wrapper > h2{
    font-size: 80px;
    color: var(--blue-color);
    font-weight: 800;
}

.brown{
    color: var(--main-brown-color);
}

.contents-wrapper{
    display: flex;
    gap: 22px;
}

.event-slidewrapper{
    width: var(--container-size);
    margin: 0 auto;
    overflow: hidden;
    padding-top: 24px;
}

.contents > figure{
    border-radius: 10px;
    overflow: hidden;
}

.event-text-wrapper{
    padding: 10px;
}

.contents-name{
    font-size: 20px;
    font-weight: bold;
}
.event-explane-text{
    font-size: 15px;
    color: var(--footer-font-color);
}

#choice-hbaf{
    background-color: var(--main-green-color);
}


.choice-explane-text{
    width: var(--container-size);
    padding-top: 24px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.choice-text-explane{
    max-width: 600px;
}


.choice-text{
    font-size: 80px;
    color: var(--main-white-color);
    font-weight: bold;
}

.choice-explane-text-explane{
    padding-top: 24px;
    color: var(--main-white-color);
    font-size: 20px;
}

.coice-contents{
    display: flex;
    padding-top: 70px;
    gap: 130px;
}

.explane-character{
    color: var(--main-yello-color2);
    font-size: 40px;
    font-weight: bold;
    line-height: 150%;
}

.explane-choice-character{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 155%;
    color: var(--main-white-color);
}

.more{
    font-size: 20px;
    color: var(--main-brown-color);
    font-weight: bold;
    position: relative;
    display: inline;
}

.more::after{
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    border-top: 2px solid var(--main-brown-color);
    border-right: 2px solid var(--main-brown-color);
    rotate: 45deg;
    transform: translate(50%, -97%);
    position: absolute;
    right: 0;
    bottom: 0;
}

.choice-left{
    text-align: start;
}
.choice-right{
    text-align: end;
    justify-content: end;
}

.choice-chracter-area figure{
    z-index: 1;
}

.small-bean{
    transform: scaleX(-1);
}

.choice-chracter-area{
    display: flex;
    position: relative;
    width: 100%;
    flex-basis: 30%;
}

.chracter-background{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../HBAFimg/KakaoTalk_20221228_153730042_13.png);
    /* align-items: baseline; */
}

.chrancter-name{
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 60px;
    font-weight: 800;
    color: var(--main-brown-color);
}

/* .ddanghong{
    transform: translateX(-260%);
}

.small-bean-name{
    transform: translateX(-90%);
} */

.choice-right .choice-chracter-area > figure{
    position: absolute;
    top: 0;
    transform: translateY(-40%);
}

.choice-left .choice-chracter-area > figure{
    position: absolute;
    top: 0;
    transform: translateY(-40%);
    right: 0;
}

.choice-right .chracter-background{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.choice-left .chracter-background{
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.almond{
    width: 400px;
}

.three-chracter{
    width: var(--container-size);
    margin: 0 auto;
    background-image: url(../HBAFimg/charachter-background.png);
    background-repeat: no-repeat;
    position: relative;
}

.three-chracter figure{
    width: 400px;
    padding-bottom: 286px;
}
.three-chracter figure:nth-child(2){
    width: 280px;
    position: absolute;
    top: 16%;
    right: 52%;
    transform: translate(53%, -19%);
}

.three-chracter figure:nth-child(3){
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-55%, 10%);
}

footer{
    background-color: var(--footer-color);
    padding-top: 64px;
    padding-bottom: 24px;
}

.footer-wrapper {
    width: var(--container-size);
    margin: 0 auto;
}

.footer-wrapper > h1{
    background-image: url(../HBAFimg/logo_01.png);
    background-repeat: no-repeat;
    width:  140px;
    height: 60px;
    background-size: cover;
}

.information-text > p{
    margin-top: 24px;
}

.footer-information-wrwapper p{
    color: var(--footer-font-color);
    align-items: center;
}

.footer-information-wrwapper{
    padding-top: 24px 110px;
    display: flex;
    justify-content: space-between;
}

.alert-area{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.alert-area a {
    color: var(--footer-font-color);
}


@media screen and (max-width:1024px) {
   
}