 :root{
    /* color */
    --main-white-color: #fff;
    --main-brown-color: #3e2612;
    --brown-color: #704518;
    --main-orange-color: #ffbc03;
    --main-yello-color: #ffda00;
    --main-yello-color2: #fcd364;
    --main-blue-color: #83c2ef;
    --main-green-color: #74bd4a;
    --carrot-color : #ec5d3f;
    --blue-color: #0d4daf;
    --font-black:#222;
    /* footer-color */
    --footer-color : #353535;
    --footer-font-color: #bdbdbd;
    /* size */
    --container-size: 1280px
 }
 
body{
    overflow: hidden;
}

.hide-text {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
}

.unit-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#hbaf-intro{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 150;
    background-color: var(--main-brown-color);
    animation-name: intro-visivility;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 4.5s;
}

.intro-overflow{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.intro-overflow > figure{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    animation-name: intro-logo;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

.cover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.up{
    animation-name: intro-animation-up;
    animation-duration: 6s;
    animation-iteration-count: 1;
    transform-origin: center bottom;
    background-position: bottom;
}

.down{
    animation-name:intro-animation-down;
    animation-duration: 6s;
    animation-iteration-count: 1;
    transform-origin: center top;
    background-position: top;
}


.open-hbaf-text{
    background-image: url(../HBAFimg/logo_01.png);
    background-repeat: repeat;
    width: 3000px;
    height: 2500px;
    z-index: 120;
    background-color: var(--main-brown-color);
    transform: rotate(320deg);
    position: relative;
}


.hbaf-header{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 120;
    height: 65px;
    transition: 1s;
    overflow: hidden;
}

.color{
    color: var(--main-brown-color);
}



.header-logo{
    width: 90px;
    height: 40px;
    background-image: url(../HBAFimg/logo_01.png);
    background-size: cover;
    position: absolute;
    left: 25px;
}

.header-wrapper{
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    transition: 1s;
    border-bottom: 3px solid var(--main-orange-color);
    padding-bottom: 0px;
    z-index: 200;
}

.header-active{
    height: 290px;
    background-color: var(--main-yello-color2);
}



.hide-header{
    transform: translateY(-100%);
}

.hbaf-header.scrolled{
    background-color: #3e2612aa;
}


.hbaf-header.header-back{
    background-color: var(--main-yello-color2);
}


.menu-wrapper{
    display: flex;
    gap: 45px;
    height: 45px;
    position: relative;
}

.menu{
    position: relative;
    /*  */
    display: inline-block;
}

.menu a {
    color: var(--main-white-color);
    font-size: 20px;
    font-weight: 800;
}

.under-menu li>a {
    font-size: 13px;
    color: var(--brown-color);
}

.under-menu li:nth-child(1){
    padding-top: 40px;
}

.under-menu li{
    margin-bottom: 5px;
    padding-top: 14px;
}

.alert-and-navershoping  li{
    flex-shrink: 0;
    font-weight: 700;
    width: 81px;
}   

.alert-and-navershoping:last-child a{
    color: var(--main-white-color);
}

.alert-and-navershoping{
    font-size: 15px;
    display: flex;
    gap: 19px;
    position: absolute;
    right: 20px;
}

.alert-and-navershoping a{
    color: var(--font-black);
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.alert-button{
    background-color: rgba(255, 255, 255, 0.50);
    text-align: center;
    border-radius: 30px;
    padding: 15px 0px;
    position: relative;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0 ,25%);
}

.mobile-hmaburger{
    display: none;
}

#video-place {
    position: relative;
}

#video-place > video{
    width: 100%;
    display: block;
}

.header-letter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-white-color);
    font-size: 70px;
    font-weight: bold;
    display: block;
}

.navi-honey{
    width: 220px;
    position: absolute;
    top: 90px;
    left: 10%;
}

.navi-honeybee{
    position: absolute;
    right: 0%;
    transform: translateX(-70%);
    width: 130px;
}

#explane-hbaf{
    width: 100%;
    overflow: hidden;
    background-color: var(--main-orange-color);
    padding: 160px 0;
}

.over-flow-hiden{
    display: flex;
    justify-content: flex-end;
    max-width: var(--container-size);
    margin: 0 auto;
}

.explane-honeybee{
    display: block;
    position: relative;
    width: 700px;
}



.explane-honeybee-lastimg {
    position: absolute;
    transform-origin: left bottom;
    right: -5%;
    top: 34%;
    z-index: 1;
    animation-name: explanehoneybeehands;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.explane-honeybee-wrapper{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-90%, 47%);
    z-index: 1;
}

.explane-box{
    background-color: var(--main-white-color);
    border-radius: 10px;
    border: 3px solid var(--main-brown-color);
    rotate: -4deg;
    box-shadow: 10px 10px 10px 0px rgb(0 0 0/25%);
    position: relative;
    width: 800px;
}

.explane-text-wrapper{
    padding: 50px;
    max-width: 966px;
}

.explane-logo-letter-wrapper{
    display: flex;
    align-items: baseline;
    gap: 40px;
    justify-content: center;
}

.explane-logo-letter-wrapper figure{
    width: 171px;
}

.explane-logo-letter-wrapper h3{
    color: var(--main-brown-color);
    font-size: 20px;
    position: relative;
}

.explane-logo-letter-wrapper h3::after{
    display: block;
    content: '';
    width: 100%;
    height: 6px;
    background-color: var(--main-yello-color2);
    position: absolute;
    bottom: 0;
    opacity: 50%;
}

.explane-letter-wrapper{
    padding : 24px;
}

.explane-letter-wrapper > p{
    font-size: 20px;
    color: var(--main-brown-color);
    margin-top: 20px;
}

.explane-letter-wrapper > p::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--main-brown-color);
    margin-top: 12px;
    transform: scaleX(110%);
}

.more-view{
    width: 100px;
    height: 20px;
    background-color: var(--main-brown-color);
    border-radius: 33px;
    padding: 10px 10px;
    position: relative;
}

.explane-text-wrapper .more-view{
    margin: 0 auto;
}

.more-view > a {
    color: var(--main-yello-color);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-hbaf-fly-bee{
    position: relative;
}

.honey-bee-wrapper{
    top: 0;
    right: 0;
    position: absolute;
    transform: translate(60%, -50%);
    animation-name: honeybee;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.fly-honeybee{
    position: relative;
}

.fly-honeybee-wings{
    top: 8%;
    right: -20%;
    z-index: -1;
    rotate: 10deg;
    transform-origin: left;
    position: absolute;
    animation-name:honeybeewings;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}


.small-honeybee{
    width: 370px;
    height: 390px;
    rotate: 15deg;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(63% , 27%);
    animation-name: smallhoneybee;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#original-almond {
    padding-top: 64px;
    margin-right: 32px;
}

#original-almond > h2{
    font-size: 80px;
    font-weight: bold;
    color: var(--main-yello-color2);
    width: var(--container-size);
    margin: 0 auto;
}

.original-almond-linebackground{
    max-width: var(--container-size);
    position: relative;
    margin: 0 auto;
}



.original-almond-linebackground::after{
    display: block;
    content: '';
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--main-yello-color2);
    border-radius: 0 30px 30px 0;
    border-bottom-right-radius: 30px;
    transition: 2s;
}

.original-almond-linebackground > p{
    margin: 0 auto;
    width: var(--container-size);
    padding-top: 30px;
    font-size: 20px;
    line-height: 168%;
    color: var(--main-brown-color);
    opacity: 0;
    transition: 2s;
}


.honeybutter-almond-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: var(--container-size);
    justify-content: center;
}

.honeybutter-almond-wrapper > figure{
    padding-top: 30px;
    max-width: 360px;
    flex-basis: 40%;
}

.honey-butter-explane-area{
    padding-top: 45px;
}

.line-text-wrapper{
    flex-grow: 1;
    flex-basis: 60%;
    max-width: 640px;
    transform: translateX(-5%);
}

.line{
    height: 2px;
    background-color: #3e2612;
    position: relative;
    margin-right: 10px;
}

.simple{
    width: 40%;
}

.flavors{
    width: 60%;
}

.healthy{
    width:100%;
}

.line::after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-brown-color);
    position: absolute;
    right: 0;
    transform: translate(0%, -50%);
}

.keyword{
    font-size: 30px;
    color: var(--main-brown-color);
    font-weight: bold;
}

.honeybutter-almond-explane{
    font-size: 20px;
    color: var(--main-brown-colorhealthy);
    padding-top: 16px;
    padding-left: 10%;
    opacity: 0;
    transition: all 2s;
}

.line-text{
    display: flex;
    transition: all 2s;
    align-items: center;
    opacity: 0;
}

.original-fly-bee{
    position: absolute;
    top: 0;
    right: 6%;
    animation-name: honeybee;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: 2s;
}

.original-fly-bee figure{
    opacity: 0;
}

.ori-and-moreview-wrapper{
    padding-top: 64px;
    padding-left: 10%;
}

/* .original-text{
    color: var(--main-orange-color);
    opacity: 40%;
    font-size: 120px;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-5%, -10%);
} */

#recommend-area{
    max-width: var(--container-size);
    padding-top: 64px;
    margin: 0 auto;
}

.injermi-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
}

.injermi-wrapper > h3{
    font-size: 50px;
    color: var(--main-brown-color);
    font-weight: bold;
    display: inline;
    position: absolute;
    z-index: -100;
    top: 50%;
}

.injermi-wrapper figure {
    width: 180px;
}

.recommend-product{
    background-color: var(--main-yello-color2);
    width: 210px;
    height: 56px;
    border-radius: 50px;
    margin: 0 auto;
    position: relative;
}

.recommend-product > p{
    text-align: center;
    align-items: center;
    color: var(--main-brown-color);
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: -10%;
    transform: translateY(50%);
    width: 100%;
}

.recommend-container-wrppaer{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 32px;
}

.recommend-container{
    display: flex;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
    align-items: center;
    box-shadow: -5px 6px 10px 5px rgba(0, 0, 0 ,25%);
    overflow: hidden;
    position: relative;
    opacity: 0;
    transition: 1s;
}


.new-production{
    background-color: var(--main-blue-color);
}

.recommend-container > figure{
    flex-basis: 40%;
    width: 100%;
    overflow: hidden;
}

.injermi-almond-img{
    transform: scaleX(-1);
}

.star-almond{
    transform: scaleX(-1);
}


.recommend-text-area{
    color: var(--main-white-color);
    width: 360px;
    padding: 20px;
    padding-right: 0px;
    flex-basis: 60%;
}
.hashtag{
    font-size: 22px;
    line-height: 150%;
}

.recommend-line-wrapper{
    display: flex;
    flex-wrap: nowrap;
    gap: 22px;
    padding-top: 22px;
}
.recommend-name{
    line-height: 115%;
    margin-top: 32px;
    font-size: 40px;
}

.goto-recommend{
    margin-top: 32px;
    font-size: 20px;
    color: var(--main-brown-color);
    font-weight: 800;
}

.adalt-production{
    background-color: var(--main-orange-color);
}

.gift-production{
    background-color: var(--main-yello-color2);
}

.kids-production{
    background-color: var(--main-green-color);
}

#banner-container{
    padding-top: 64px;
    margin-top: 0 auto;
    margin: 0 auto;
}

.banner-area{
    background-color: var(--main-yello-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    gap: 32px;
}

.carrot-almond-wrapper{
    position: relative;
    overflow: hidden;
    width: 225px;
    height: 250px;
}

.carrot-cake-almond{
    position: absolute;
    width: 225px;
    animation-name: carrotbody;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-play-state: paused;
    bottom: -76%;
}


.carrot-cake-bottom{
    width: 225px;
    animation-name: carrotland;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-play-state: paused;
    position: absolute;
    overflow: hidden;
    bottom: -38%;
}
.carrot-active {
    animation-play-state: running;
}


.banner-left-text{
    font-size: 35px;
    color: var(--carrot-color);
    font-weight: 800;
}
.banner-area p{
    padding-top: 30px;
    opacity: 0;
    transition: 2s;

}

.banner-left-text p:nth-child(2){
    color: var(--main-white-color);
}

.text-rigtt{
    padding-left: 40px;
}

.text-medium{
    padding-left: 20px;
    padding-right: 20px;
}

.text-left{
    padding-right: 40px;
}

.banner-right-text{
    color: var(--main-white-color);
    font-size: 35px;
    font-weight: 800;
}

.banner-right-text p:nth-child(2){
    color: var(--carrot-color);
}

#slide-banner-area{
    padding: 64px 32px;
}

.event-area-wrapper{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--container-size);
}

.event-area-wrapper > h2{
    font-size: 80px;
    color: var(--blue-color);
    font-weight: 800;
}

.brown{
    color: var(--main-brown-color);
}

.contents-wrapper{
    display: flex;
    gap: 22px;
    transition: 0.5s;
}

.event-slidewrapper{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 24px;
}

.contents {
    flex-shrink: 0;
    position: relative;
}

.contents > figure{
    border-radius: 10px;
    overflow: hidden;
}

.event-text-wrapper{
    padding: 10px;
}

.contents-name{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -2px;
    text-align: center;
}

.event-explane-text {
    font-size: 15px;
    color: var(--footer-font-color);
    padding-top: 16px;
    line-height: 32px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

#choice-hbaf{
    background-color: var(--main-green-color);
    overflow: hidden;
}

.choice-inner-container{
    max-width: var(--container-size);
    margin: 0 auto;
}


.choice-explane-text{
    padding: 24px 0px;
    max-width: var(--container-size);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.choice-text{
    font-size: 80px;
    color: var(--main-white-color);
    font-weight: bold;
}

.choice-explane-text-explane{
    padding-top: 24px;
    color: var(--main-white-color);
    font-size: 20px;
    text-align: center;
    opacity: 0;
    transition: 2s;
}

.coice-contents{
    display: flex;
    padding-top: 130px;
    gap: 130px;
}

.explane-character{
    color: var(--main-yello-color2);
    font-size: 40px;
    font-weight: bold;
    line-height: 150%;
    opacity: 0;
    transition: 2s;
}

.explane-choice-character{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 155%;
    color: var(--main-white-color);
    opacity: 0;
    transition: 2s;
}

.mobile-ver{
    display: none;
}


.arrow-wrapper{
    position: relative;
    max-width: var(--container-size);
    margin: 0 auto;
}

.before-contents-arrow{
    position: absolute;
    top: 50%;
    right:100%;
}

.before-contents-arrow::after{
    content: '';
    width: 20px;
    height: 20px;
    border-top: 2px solid var(--main-orange-color);
    border-left: 2px solid var(--main-orange-color);
    display: block;
    transform: rotate(-45deg);
}

.next-contents-arrow{
    position: absolute;
    top: 50%;
    left: 100%;
}

.next-contents-arrow::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-top: 2px solid var(--main-orange-color);
    border-right: 2px solid var(--main-orange-color);
    transform: rotate(45deg);
}

.more{
    font-size: 20px;
    color: var(--main-brown-color);
    font-weight: bold;
    position: relative;
    display: inline;
}

.more::after{
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    border-top: 2px solid var(--main-brown-color);
    border-right: 2px solid var(--main-brown-color);
    rotate: 45deg;
    transform: translate(50%, -97%);
    position: absolute;
    right: 0;
    bottom: 0;
}

.choice-left{
    text-align: start;
}
.choice-right{
    text-align: end;
    justify-content: end;
}

.choice-chracter-area::after{
    display: block;
    content: '';
    height: 100%;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../HBAFimg/KakaoTalk_20221228_153730042_12.png);
    background-size: contain;
    transition: 0.5s;
}

.choice-back::after{
    left: 100%;
}


.coice-contents.choice-left .choice-chracter-area::after{
    left: unset;
    right: 0;
}

.choice-back-r::after{
    transform: translateX(-20%);
}

.choice-chracter-area figure{
    z-index: 1;
    animation-name: coice-chracter;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    opacity: 0;
    transition: 1s;
}

.almond{
    width: 330px;
    animation-name: choice-almond;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.small-bean{
    transform: scaleX(-1);
}

.choice-chracter-area{
    display: flex;
    position: relative;
    width: 100%;
    flex-basis: 30%;
}

.chrancter-name{
    display: flex;
    font-size: 60px;
    font-weight: 800;
    color: var(--main-brown-color);
    align-items: flex-end;
    position: absolute;
    bottom: 10%;
    z-index: 110;
    width: 100%;
    opacity: 0;
    transition: 2s;
}

.ddanghong{
    width: 250px;
    rotate: 10deg;
}

.choice-right .chrancter-name{
    left: 55%;
}

.choice-right .choice-chracter-area::after{
    border-radius: 100px 0px 0px 100px;
}

.choice-left .choice-chracter-area::after{
    border-radius: 0px 100px 100px 0px;
}

.back-sa::after{
    right: 100%;
}

.choice-right .choice-chracter-area > figure{
    position: absolute;
    top: 0;
}

.choice-left .choice-chracter-area > figure{
    position: absolute;
    top: 0;
    right: 0;
}


.three-chracter{
    width: 100%;
    height: 800px;
}

.three-chracter{
    max-width: var(--container-size);
    margin: 0 auto;
    background-image: url(../HBAFimg/charachter-background.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    background-position: center;
}

.three-chracter figure{
    max-width: 400px;
}

.three-chracter figure:nth-child(1){
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-43%, 0%);
    animation: 4s;
    animation-iteration-count: infinite;
    animation-name: kimsnack;
}

.three-chracter figure:nth-child(2){
    max-width: 310px;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(72%, -12%);
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: ddanghong;
}

.three-chracter figure:nth-child(3){
    position: absolute;
    left: 20%;
    top: 20%;
    transform: translate(145%, 67%);
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: smallbean;
}

footer{
    background-color: var(--footer-color);
    padding: 24px;
}

.footer-wrapper {
    max-width: var(--container-size);
    margin: 0 auto;
}

.footer-wrapper > h1{
    background-image: url(../HBAFimg/logo_01.png);
    background-repeat: no-repeat;
    width:  140px;
    height: 60px;
    background-size: cover;
}

.information-text > p{
    margin-bottom: 24px;
}

.footer-information-wrwapper p{
    color: var(--footer-font-color);
    align-items: center;
}

.footer-information-wrwapper{
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
}

.alert-area{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.alert-area a {
    color: var(--footer-font-color);
}

@keyframes honeybee{
    0%{
        transform: translate(56%, -45px);
    }
    50%{
        transform: translate(56%, -55px);
    }
    100%{
        transform: translate(56%, -45px);
    }
}

@keyframes smallhoneybee{
    0%{
        transform: translate(63%, 27%);
    }

    50%{
        transform: translate(63%, 37%);
    }

    100%{
        transform: translate(63%, 27%);
    }
}

@keyframes explanehoneybeehands{
    0%{
        rotate: 6deg;
    }

    50%{
        rotate: 19deg;
    }

    100%{
        rotate: 6deg;
    }
}

@keyframes honeybeewings{
    0%{
        transform: scale(1.0);
    }

    50%{
        transform: scale(1.0);
    }
    51%{
        transform: scale(1.2);
        rotate: 18deg;
    }

    100%{
        transform: scale(1.2);
        rotate: 18deg;
    }
}

@keyframes carrotland{
    0%{
        transform: translateX(0px);
    }

    25%{
        transform: translateX(5px);
    }

    50%{
        transform: translateX(0px);
    }

    75%{
        transform: translateX(5px);
    }

    100%{
        transform: translateX(0px);
    }
}

@keyframes carrotbody{
    0%{
        transform: translateY(0%);
    }

    50%{
        transform: translateY(0%);
    }

    100%{
        transform: translateY(-103%);
    }
}

@keyframes choice-almond{
    0%{
        transform: translateY(-30%);
    }

    50%{
        transform: translateY(-40%);
    }

    100%{
        transform: translateY(-30%);
    }
}

@keyframes coice-chracter{
    0%{
        transform: translateY(-50%);
    }

    50%{
        transform: translateY(-55%);
    }

    100%{
        transform: translateY(-50%);
    }
}

@keyframes kimsnack {
    0%{
        transform: translate(-42% , -5%);
    }

    50%{
        transform: translate(-42% , 0%);
    }

    100%{
        transform: translate(-42% , -5%);
    }
}

@keyframes ddanghong{
    0%{
        transform: translate(72%, -17%);
    }

    50%{
        transform: translate(72%, -12%);
    }

    100%{
        transform: translate(72%, -17%);
    }
}

@keyframes smallbean{
    0%{
        transform: translate(145%, 67%);
    }

    50%{
        transform: translate(145%, 77%);
    }

    100%{
        transform: translate(145%, 67%);
    }
}


@keyframes intro-animation-up {
    0%{
        transform: rotate(320deg) translateX(0%);
    }

    50%{
        transform: rotate(320deg) translateX(12%);
    }

    100%{
        transform: rotate(320deg) translateY(-100%);
    }
}

@keyframes intro-animation-down {
    0%{
        transform: rotate(320deg) translateX(0%);
    }

    50%{
        transform: rotate(320deg) translateX(12%);
    }

    100%{
        transform: rotate(320deg) translateY(100%);
    }
}


@keyframes intro-logo{
    0%{
        scale: -13deg;
    }
    50%{
        rotate: 13deg;
    }
    100%{
        rotate: 0;
        /* transform: translate(-50%, -50%) scale(1.5); */
    }
}

@keyframes intro-visivility{
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
        visibility: hidden;
    }
}



@media screen and (max-width:1420px) {
    
    #explane-hbaf{
        padding-left: 110px;
    }

    .explane-box{
        width: 650px;
    }
    
    .over-flow-hiden{
        justify-content: center;
    }
    
    .explane-honeybeeP{
        width: 600px;
    }
    
}

@media screen and (max-width:1200px) {
    .explane-honeybee-wrapper{
        left: 10%;
    }

    .navi-honey{
        left: 2%;
    }

    .menu a{
        font-size: 18px;
    }

    .alert-and-navershoping:last-of-type a{
        font-size: 15px;
    }

}

@media screen and (max-width:1000px) {
    

    #explane-hbaf{
        padding-left: 30px;
    }

    .menu-wrapper{
        gap: 25px;
    }

    .alert-and-navershoping:last-of-type a{
        font-size: 12px;
    }

    .alert-button{
        width: 70px;
    }

    .alert-and-navershoping{
        gap: 10px;
    }


    .honey-bee-wrapper{
        right: 10%;
    }

    .explane-honeybee{
        width: 550px;
    }

    .explane-honeybee-lastimg{
       width: 204px;
    }

    .over-flow-hiden {
        padding-left: 210px;
    }

    .small-honeybee{
        right: 15%;
    }

    .menu a{
        font-size: 15px;
    }

    .menu-wrapper{
        gap: 30px;
    }

    .navi-honeybee{
        transform: translateX(-36%);
    }

    .three-chracter figure:nth-child(1){
        width: 320px;
    }
    
    .three-chracter figure:nth-child(2){
        width: 250px;
    }

    .three-chracter figure:nth-child(3) {
        width: 250px;
    }

    .almond{
        width: 260px;
    }

    .explane-character{
        font: 35px;
    }

    .explane-choice-character{
        font-size: 25px;
    }

}

@media screen and (max-width:834px) {

    .navi-honey{
        display: none;
    }

    .alert-and-navershoping{
        display: none;
    }

    .navi-honeybee{
        display: none;
    }

    #explane-hbaf{
        padding-left: 30px;
        box-sizing: border-box;
    }

    .over-flow-hiden{
        padding-left: 55px;
    }

    .explane-logo-letter-wrapper > figure{
        width: 128px;
    }

    .explane-honeybee-wrapper{
        left: 21%;
    }

    .explane-honeybee{
        width: 478px;
    }

    .explane-honeybee-lastimg{
        width: 180px;
    }
    
    .explane-text-wrapper{
        width: 550px;
        padding: 20px;
    }

    .explane-letter-wrapper{
        padding: 27px 51px;
    }

    .explane-letter-wrapper > p{
        font-size: 18px;
        text-align: center;
    }

    .small-honeybee{
        right: 13%;
        bottom: -10%;
        width: 290px;
        rotate: 0deg;
        transform: translate(43% , 27%);
    }

    .honey-bee-wrapper{
        right: 7%;
    }

    .original-almond-linebackground{
        max-width: 770px;
    }

    #recommend-area{
        max-width: 770px;
    }

    .recommend-line-wrapper{
        flex-wrap: wrap;
        width: 100%;
    }
    
    .recommend-text-area{
        flex-basis: 80%;
    }
    .hashtag{
        font-size: 20px;
    }

    .recommend-name{
        letter-spacing: -1px;
    }

    .goto-recommend{
        font-size: 18px;
    }

    .recommend-container > figure{
        flex-basis: 35%;
        transform: translate(0px, 60px);
    }

    .banner-area p{
        font-size: 25px;
    }

    .explane-character{
        font-size: 30px;
        letter-spacing: -1px;
    }

    .explane-choice-character{
        font-size: 20px;
        }
    
    .coice-contents{
        gap: 97px;
    }

    .chrancter-name{
        font-size: 40px;
    }

    .almond{
        width: 260px;
    }

    .chrancter-name{
        font-size: 40px;
    }

    .three-chracter figure{
        width: 260px;
        height: 200px;
    }

    .ddanghong{
        width: 190px;
    }

    .footer-wrapper > h1{
        width: 100px;
        height: 60px;
    }

    .footer-wrapper > h1{
        width: 140px;
        height: 60px;
    }

}

@media screen and (max-width: 360px) {

    .intro-overflow > figure{
        width: 200px;
    }

    #video-place > video{
        height: 100vh;
        width: auto;
    }

    .header-letter{
        font-size: 45px;
        text-align: center;
        line-height: 60px;
    }

    .explane-letter-wrapper .mobile-hide{
        display: none;
    }

    .mobile-hide{
        display: none;
    }
    
    .mobile-ver{
        display: inline-block;
    }

    .hbaf-header{
        position: absolute;
    }

    .header-wrapper{
        border-bottom: none;
    }

    nav{
        display: none;
    }

    .alert-and-navershoping{
        display: none;
    }

    .explane-box{
        width: 650px;
    }
    
    .explane-honeybee{
        width: 160px;
    }

    .explane-honeybee-lastimg{
        width: 60px;
    }

    .explane-text-wrapper{
        width: 300px;   
    }

    .explane-logo-letter-wrapper{
        gap: 10px;
        margin-bottom: 16px;
    }

    .explane-logo-letter-wrapper > figure{
        width: 90px;
    }

    .explane-logo-letter-wrapper h3{
        font-size: 12px;
    }

    .explane-letter-wrapper{
        padding: 0px 20px;
    }

    .explane-letter-wrapper > p {
        font-size: 12px;
        margin-top: 5px;
    }

    .more-view{
        width: 50px;
        height: 15px;
        padding: 5px 10px;
    }

    .more-view > a{
        font-size: 7px;
    }

    .honey-bee-wrapper{
        width: 70px;
        right: 80px;
    }

    .explane-text-wrapper .more-view{
        margin-top: 8px;
    }

    .explane-honeybee-wrapper{
        left: 17%;
        bottom: 0;
    }

    .small-honeybee{
        width: 140px;
        right: 95px;
        bottom: -165px;
    }

    .fly-honeybee-wings{
        width: 33px;
    }

    #original-almond{
        margin-right: 16px;
        padding-top: 24px;
    }

    #original-almond > h2{
        font-size: 60px;
    }

    .original-fly-bee{
        display: none;
    }

    .honeybutter-almond-wrapper{
        padding-top: 24px;
    }

    .honeybutter-almond-wrapper > figure{
        flex-basis: auto;
        transform: translateX(-20%);
        padding-top: 0px;
    }

    .line-text-wrapper{
        transform: translateX(-30%);
    }

    .honey-butter-explane-area{
        padding-top: 16px;
    }

    .original-almond-linebackground > p{
        font-size: 12px;
        margin-left: 16px;
    }

    .injermi-wrapper figure {
        width: 86px;
    }

    .injermi-wrapper > h3 {
    font-size: 35px
    }

    .recommend-product{
        width: 124px;
        height: 30px;
    }

    .recommend-product > p{
        font-size: 15px;
    }

    .banner-area{
        padding: 16px;
        gap: 16px;
    }

    .banner-area p{
        padding-top: 16px;
    }

    .carrot-almond-wrapper{
        width: 96px;
        height: 110px;
        flex-shrink: 0;
    }

    .carrot-cake-bottom{
        width: 96px;
        bottom: -30%;
    }

    .carrot-cake-almond{
        width: 96px;
        bottom: -66%;
    }

    .event-area-wrapper .more-view{
        display: none;
    }

    .event-area-wrapper > h2{
        font-size: 30px;
        margin: 0 auto;
    }

    .contents > figure{
        height: auto;
    }

    .event-explane-text{
        font-size: 10px;
        line-height: 16px;
    }

    .contents-name{
        font-size: 12px;
    }

    .keyword{
        font-size: 15px;
    }

    .honeybutter-almond-explane{
        font-size: 12px;
        line-height: 16px;
        padding-top: 8px;
    }

    .ori-and-moreview-wrapper{
        margin: 16px;
        padding: 0px;
    }

    .hashtag{
        font-size: 12px;
    }

    .recommend-name{
        font-size: 20px;
        margin-top: 12px;
    }

    .goto-recommend{
        font-size: 9px;
        margin-top: 12px;
    }

    .recommend-line-wrapper{
        width: 100%;
    }   

    .recommend-container-wrppaer{
        padding: 0px 16px;
    }

    .recommend-container > figure{
        transform: translate(0%, 0%);
    }

    .text-left {
    padding-right: 20px;
    }

    .text-medium{
        padding-left: 10px;
        padding-right: 0px;
    }

    .banner-area p{
        font-size: 15px;
    }

    .choice-explane-text > h2{
        font-size: 24px;
    }

    .choice-explane-text-explane{
        font-size: 18px;
    }

    .explane-character{
        font-size: 15px;
    }

    .explane-choice-character{
        font-size: 12px;
    }

    .more{
        font-size: 8px;
    }

    .coice-contents{
        gap: 16px;
    }

    .choice-inner-container{
        max-width: 328px;

    }

    .coice-contents{
        padding-top: 40px;
    }

    .explane-choice-character{
        margin: 10px 0px;
    }

    .chrancter-name{
        font-size: 20px;
    }

    .choice-chracter-area figure{
        width: 100px;
    }

    .choice-right .choice-chracter-area > figure{
        top: 24%;
    }

    .choice-left .choice-chracter-area > figure{
        top: 24%;
    }

    .more::after{
        width: 5px;
        height: 5px;
    }

    .three-chracter{
        height: 200px;
    }

    .three-chracter figure:nth-child(1){
        width: 100px;    
    }     
    .three-chracter figure:nth-child(2){
        width: 100px;    
    }
    
    .three-chracter figure:nth-child(3){
        width: 100px;    
        top: -40%;
    }

    .footer-wrapper > h1{
        width: 56px;
        height: 34px;
        background-position: contain;
        margin: 0 auto;
    }

    .footer-information-wrwapper{
        flex-direction: column;
        text-align: center;
    }

    .footer-information-wrwapper p{
        letter-spacing: -1px;
    }

    .alert-area{
        display: none;
    }

    .information-text p {
        font-size: 10px;
        margin-bottom: 8px;
    }

    footer{
        padding: 24px 16px;
    }

}